{% extends "base.html" %}

{% block title %}Pojazdy{% endblock %}

{% block content %}

<h2>Dane pojazdu:</h2>

<p>Marka: {{ data.marka }}</p>
<p>Model: {{ data.model }}</p>
<p>Województwo: {{ data.wojewodztwo }}</p>
<p>Rodzaj pojazdu: {{ data.rodzaj_pojazdu }}</p>
<p>Pochodzenie pojazdu: {{ data.pochodzenie_pojazdu }}</p>
<p>Rok produkcji: {{ data.rok_produkcji }}</p>
<p>Pojemność skokowa: {{ data.pojemnosc_skokowa }}</p>
<p>Dopuszczalna masa całkowita: {{ data.dmc }}</p>
<p>Liczba miejsc: {{ data.liczba_miejsc }}</p>
<p>Rodzaj paliwa: {{ data.rodzaj_paliwa }}</p>
<p>Hak: {{ data.hak|yesno:"Na wyposażeniu, Brak, Null" }}</p>
<p>Kierownica po prawej: {{ data.kierownica_po_prawej|yesno:"Tak, Nie" }}</p>
<p>Data ostatniej rejestracji: {{ data.data_ostatniej_rejestracji_w_kraju }}</p><br>

<form action="/vehicles/{{data.id}}/update">
    <input type="submit" class="btn btn-success" value="Edytuj" /></form><br><form action="/vehicles/{{data.id}}/delete">
    <input type="submit" class="btn btn-danger" value="Usuń" />
</form>
{% endblock %}