{% extends "base.html" %}

{% block title %}Lista pojazdów{% endblock %}

{% block content %}
<p><h6>Jeśli chcesz:</h6></p>
    <ul>
    <li>Zobaczyć dokładne informacje jakiegoś pojazdu, wpisz jego nr id w adres przeglądarki. Na przykład: 127.0.0.1:8000/vehicles/1</li>
    <li>Zaktualizować dane konkretnego pojazdu, dopisz jego nr id oraz /update/, np.: 127.0.0.1:8000/vehicles/1/update/</li>
    <li>Usunąć konkretny pojazd, dopisz jego nr id oraz /delete/, np.: 127.0.0.1:8000/vehicles/1/delete/</li>
    </ul>

<p><h2>Lista Pojazdów</h2></p>

{% for data in object_list %}

<p></pr><a href="{{data.id}}"> {{ forloop.counter }}.{{ data.marka }}-{{ data.model }}-{{ data.rodzaj_pojazdu }}</a></p>

{% endfor %}

<div class="pagination">
    {#  source of pagination   https://docs.djangoproject.com/en/4.0/topics/pagination/#}
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}