{% extends 'base.html' %}
{% block title %} Zaloguj się {% endblock %}
{% block content %}
<h2>Zaloguj się</h2>
<form method="post">
    {% csrf_token %}
    <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nazwa użytkownika</label>
            <input type="text" class="form-control" name="username">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Hasło</label>
            <input type="password" class="form-control" name="password">
        </div>
        <p>Jeśli nie masz jeszcze konta, kliknij <a href="/sign-up">tutaj.</a></p>
        <button type="submit" class="btn btn-success">Zaloguj</button>
    </form>
    {% endblock %}